* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
}
.admin-sidebar-top {
    text-align: center;
    border-bottom: 1px solid black;
}
.admin-sidebar-top img {
    width: 70px;
}
.row-grid {
    display: grid;
    justify-content: space-between;
}
.admin-sidebar {
    height: 100vh;
    background-color: aqua;
}
.admin .row-grid {
    grid-template-columns: 20% 80%;
}
/* content */
.admin-content {
    background-color: antiquewhite;
}
.admin-sidebar-content {
    padding: 30px 0 0 30px;
}
.admin-sidebar-content ul li {
    padding: 6px;
    transition: all 0.3s ease;
}
.admin-sidebar-content ul li:hover {
    background-color: blueviolet;
}
.sub-menu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.sub-menu.active {
    height: 62px;
}
/* product-add */
.admin-content-main-content {
}
.admin-content-main-content-product-add {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 20px;
    column-gap: 20px;
}
.admin-content-main-content-left input {
    height: 40px;
    border: none;
    background-color: aqua;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid black;
    padding-left: 6px;
}
.admin-content-main-content-two-input {
    display: flex;
    justify-content: space-between;
}
.admin-content-main-content-two-input input {
    width: 45%;
}
.admin-content-main-content-left textarea {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 6px;
    border: none;
}
.admin-content-main-content-right-image input {
    display: none;
}
.admin-content-main-content-right-images input {
    display: none;
}
.admin-content-main-content-right label {
    padding: 6px 12px;
    background-color: black;
    cursor: pointer;
    color: white;
}
.admin-content-main-content-right-image {
    margin-top: 7px;
    margin-bottom: 100px;
}
/* product list */
.admin-content-main-content table {
    border: 1px solid black;
}
.admin-content-main-content-product-list table {
    width: 100%;
    padding: 12px 0;
    border-collapse: collapse;
}
/* .admin-content-main-content table tbody tr td {
  border-bottom: 1px solid black;
} */
.admin-content-main-content-product-list table,
th,
td {
    text-align: center;
}
.admin-content-main-content-product-list table th {
    background-color: black;
    color: white;
    padding: 6px 0;
}

/* order list */
.admin-content-main-content table {
    border: 1px solid black;
}
.admin-content-main-content-order-list table {
    width: 100%;
    padding: 12px 0;
    border-collapse: collapse;
}
/* .admin-content-main-content table tbody tr td {
  border-bottom: 1px solid black;
} */
.admin-content-main-content-order-list table,
th,
td {
    text-align: center;
}
.admin-content-main-content-order-list table th {
    background-color: black;
    color: white;
    padding: 6px 0;
}
/* fake */
#input-file-img #input-file-imgs {
    padding: 12px 0;
}

#input-file-img img {
    width: 100px;
}
#input-file-imgs img {
    width: 100px;
    margin-right: 6px;
}
